.header {
  display: flex;
  align-items: center;
  background-color: black !important;
  padding-top: 20px;
}

.logo {
  height: auto;
  width: 300px;
}

.content {
  margin-bottom: 80px;
}

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 15px;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  background-color: white;
}

.caroliveira {
  height: 30px;
  width: auto;
  font: 50px 'Inconsolata', monospace;
  margin: 0 5px;
}

.PrivateTabIndicator-root-1 {
  height: 5px !important;
}

.PrivateTabIndicator-colorSecondary-3 {
  background-color: dodgerblue !important;
}